* {
    background-color: rgb(102, 102, 102);
}

header {
    font-size: 40px;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

.col-md-9 {
    padding-right: 0;
    padding-left: 0;
}

.row{
 margin-left: 0;
 margin-right: 0;
}

